@font-face {
  font-family: "norsebold";
  src:
    url("fonts/roboto-bold.woff2") format("woff2"),
    url("fonts/roboto-bold.woff") format("woff");
}

* {
    font-family: "roboto-bold", Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
    background-color: #1992d4;

    display: grid;
}

.sidebar_title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.sidebar ul li {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    
}

.nav {
    grid-column: 2;
}

.top_nav {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.bottom_nav {
    display: flex;
}

.main_container {
    display: grid;
    grid-row: 2;
    grid-column: 2;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: #E2E8F0;
}

.projects {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Icons */

.dashboard {
    width: 75px;
    height: 75px;
    filter: invert(100%);
}

.list_icon {
    width: 30px;
    height: 30px;
    filter: invert(100%);
    margin-right: 30px;
}

.list_icon_nav {
    width: 30px;
    height: 30px;
}

.profile_circle {
    width: 50px;           
    height: 50px;
    background-color: #fbbf24; 
    border-radius: 50%;       
    display: flex;        
    align-items: center;
    justify-content: center;
    overflow: hidden;      
}

.profile_picture {
    width: 80%;          
}

.search_bar {
    width: 55%;
    height: 2.5rem;
    background-color: #E2E8F0;
    border-radius: 30px;
}