.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
    background-color: #1992d4;
    
}

.nav {
    grid-column: 2;
}

.main_container {
    display: grid;
    grid-row: 2;
    grid-column: 2;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: #E2E8F0;
}

.projects {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}